/* custom font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
/* Tailwind base and components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */
body {
  font-family: "Roboto", sans-serif;
  color: #777;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00173c;
  font-size: 20px;
  line-height: 1.2;
}
form input,
form textarea,
form select,
form button {
  @apply text-[#343434] text-base md:text-lg border border-gray-300 rounded px-5 py-3 focus:outline-none;
}
.Container {
  @apply container mx-auto px-5 sm:px-8;
}
.Heading1 {
  @apply text-[40px] md:text-[60px];
}
.Heading2 {
  @apply text-[40px] md:text-5xl;
}
.Heading3 {
  @apply text-[34px] md:text-[48px];
}
.MiniTitle {
  @apply text-lg md:text-[24px] text-[#3660d9];
}
.PrimaryButton {
  @apply text-[16px] uppercase font-medium text-white rounded-[4px] bg-gradient-to-r from-blue-500 to-indigo-600 hover:bg-gradient-to-l hover:from-blue-600 hover:to-indigo-700 transition duration-[300ms];
}
.BoxShadowBorder {
  @apply shadow-[rgba(0,0,0,0.02)_0px_1px_3px_0px,rgba(27,31,35,0.15)_0px_0px_0px_1px];
}
/* Home page CSS */



@keyframes bounceAnimation {
  30% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateX(-15px);
  }

  to {
    transform: translateY(-15px);
  }
}
